<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="global.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Be Vietnam Pro:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
    />
    <script src="https://unpkg.com/scrollreveal"></script>

</head>
<body>
    <div class="landing-page overflow h-hidden">
        
        <!--landing-page-detail-->

        <div class="landing-page-detail">

            <img class="landing-page-BlurVector1" src="image/BlurVector1.svg" alt="">

            <img class="landing-page-ellipse73" src="image/Ellipse 73.svg" alt="">

            <!--cục đá-->

            <img class="landing-page-vector111" src="image/Vector 111.svg" alt="">

            <img class="landing-page-vector118" src="image/Vector 118.svg" alt="">

            <img class="landing-page-group400" src="image/Group 400.svg" alt="">

            <img class="landing-page-group401" src="image/Group 401.svg" alt="">

            <img class="landing-page-vector114" src="image/Vector 114.svg" alt="">

            <img class="landing-page-group367" src="image/Group 367.svg" alt="">

            <img id="vector115" class="landing-page-vector115" src="image/Vector 115.svg" alt="">

            <img class="landing-page-group403" src="image/Group 403.svg" alt="">

            <img class="landing-page-vector112" src="image/Vector 112.svg" alt="">

            <img class="landing-page-vector113" src="image/Vector 113.svg" alt="">

            <img class="landing-page-group399" src="image/Group 399.svg" alt="">

            <img id="vector119" class="landing-page-vector119" src="image/Vector 119.svg" alt="">

            <img class="landing-page-vector116" src="image/Vector 116.svg" alt="">

            <img class="landing-page-vector117" src="image/Vector 117.svg" alt="">

            <!--con cục rối-->

            <img class="landing-page-group364" src="image/Group 364.svg" alt="">

            <img class="landing-page-group366" src="image/Group 366.svg" alt="">

            <img class="landing-page-group402" src="image/Group 402.svg" alt="">

            <img class="landing-page-group550" src="image/Group 550.svg" alt="">

            <img class="landing-page-group365" src="image/Group 365.svg" alt="">

            <!--bong bóng-->

            <img class="landing-page-group382" src="image/Group 382.svg" alt="">

            <img class="landing-page-group383" src="image/Group 383.svg" alt="">

            <img class="landing-page-group384" src="image/Group 384.svg" alt="">

            <img class="landing-page-group379" src="image/Group 379.svg" alt="">

            <img class="landing-page-group380" src="image/Group 380.svg" alt="">

            <img class="landing-page-group381" src="image/Group 381.svg" alt="">

            <!--quote-->

            <div class="landing-page-quote">
                "Bạn không cần phải lúc nào cũng tích cực. Bạn hoàn toàn có thể cảm thấy buồn, tức giận, khó chịu, thất vọng, sợ hãi hoặc lo lắng. Có cảm xúc không khiến bạn trở thành người tiêu cực. Nó làm nên con người bạn." 
                <br class="landing-page-quote-author">- Lori Deschene -
            </div>
            
        </div>
        
        <!--tầm quan trọng sktt-->

        <div class="tamquantrong-harmony">
            <b id="harmony1" class="harmony1">HARMONY</b>
            <b id="harmony2" class="harmony2">HARMONY</b>
        </div>
        <div class="tamquantrong-harmony-text">  
            <b id="tamquantrongtext" class="tamquantrong-text">TẦM QUAN TRỌNG</b>
            <b id="suckhoetamthantext" class="suckhoetamthan-text">SỨC KHỎE TÂM THẦN</b>
            <div class="box1"></div>
            <div class="box2"></div>
            <div id="line1" class="line1"></div>
            <div id="line2" class="line2"></div>
            <div id="line3" class="line3"></div>
            <div id="line4" class="line4"></div>
            <div id="line5" class="line5"></div>
            <div id="line6" class="line6"></div>
        </div>

        <img class="landing-page-vector" src="image/Vector.svg" alt="">

        <img class="landing-page-vector124" src="image/Vector 124.svg" alt="">

        <img class="landing-page-vector125" src="image/Vector 125.svg" alt="">

        <img class="landing-page-vector126" src="image/Vector 126.svg" alt="">

        <img class="landing-page-group398" src="image/Group 398.svg" alt="">

        <img class="landing-page-group365-1" src="image/Group 365 (1).svg" alt="">

        <div class="landing-page-tamquantrong">
            <b id="suckhoetamthan" class="suckhoetamthan">SỨC KHỎE TÂM THẦN</b>
            <div id="tamquantrong" class="tamquantrong">
                TẦM QUAN TRỌNG CỦA VIỆC CHĂM SÓC SỨC KHỎE TÂM THẦN
            </div>
        </div>

        <div class="tamquantrong1">
            <div class="tamquantrong1-border"></div>
            <div class="tamquantrong1-padding"></div>
            <p class="tamquantrong1-content">
                Chăm sóc sức khoẻ tâm thần đảm bảo rằng chúng ta có khả năng làm
                việc hiệu quả, xử lý stress và khám phá, phát triển tiềm năng
                của bản thân, giúp chúng ta cảm thấy tự tin, có động lực và tình
                yêu đời.
            </p>
        </div>
        <div class="tamquantrong2">
            <div class="tamquantrong2-border"></div>
            <div class="tamquantrong2-padding"></div>
            <p class="tamquantrong2-content">
                Chăm sóc sức khoẻ tâm thần đòi hỏi sự chú ý và quan tâm từ mỗi
                người. Điều này có thể đạt được qua việc thực hiện các hoạt động
                tư duy tích cực, và gia đình hỗ trợ. Đồng thời, cần xem xét tìm
                kiếm sự giúp đỡ từ chuyên gia, như nhà tâm lý học hoặc nhà tư
                vấn.
            </p>
        </div>
        <div class="tamquantrong3">
            <div class="tamquantrong3-border"></div>
            <div class="tamquantrong3-padding"></div>
            <p class="tamquantrong3-content">
                Tóm lại, việc chăm sóc sức khoẻ tâm thần nên được coi là một
                ưu tiên và đầu tư đúng thời gian và nỗ lực để đạt được cuộc
                sống tốt đẹp hơn.
            </p>
        </div>

        <img class="tamquantrong-loiich" src="image/lợi ích.svg" alt="">

        <img class="tamquantrong-baitap" src="image/bài tập.svg" alt="">

        <img class="tamquantrong-tomlai" src="image/tóm lại.svg" alt="">

        <!--harmony có gì?-->

        <img id="blurvector" class="harmonycogi-blurvector" src="image/BlurVector.svg" alt="">

        <img class="harmonycogi-vector122" src="image/Vector 122.svg" alt="">

        <img class="harmonycogi-vector121" src="image/Vector 121.svg" alt="">

        <img class="harmonycogi-vector120" src="image/Vector 120.svg" alt="">

        <img class="harmonycogi-group408" src="image/Group 408.svg" alt="">

        <img class="harmonycogi-group409" src="image/Group 409.svg" alt="">

        <img class="harmonycogi-group410" src="image/Group 410.svg" alt="">

        <img class="harmonycogi-group411" src="image/Group 411.svg" alt="">

        <img class="harmonycogi-vector123" src="image/Vector 123.svg" alt="">

        <b class="harmonycogi-text">HARMONY CÓ GÌ?</b>
        <div class="harmonycogi-p">
            Chào mừng bạn đến với HARMONY - nơi gắn kết cộng đồng và mang đến lợi
            ích về sức khỏe tâm lý. Chúng tôi hiểu rằng sức khỏe tâm lý là một
            phần quan trọng trong cuộc sống và chúng tôi muốn giúp bạn khám phá
            sức mạnh, tiềm năng của tâm trí.
        </div>

        <div class="harmonycogi">
            <div class="harmonycogi-nkcx">
                <img src="image/Group 264.svg" alt="">
                
            </div>

            <div class="harmonycogi-DrAI">
                <div class="DrAI-padding"></div>
                <b class="DrAI">Bác sĩ AI</b>
                <link href="/src/components/HarmonyAI/app/page.jsx" />
                <img class="DrAI-icon" src="image/Bác sĩ AI.svg" alt="">
            </div>

            <div class="harmonycogi-congdong">
                <div class="congdong-padding"></div>
                <b class="congdong">Tham gia cộng đồng</b>
                <img class="congdong-icon" src="image/tham gia cộng đồng.svg" alt="">
            </div>

            <div class="harmonycogi-thuvien">
                <div class="thuvien-padding"></div>
                <b class="thuvien">Thư viện tài liệu</b>
                <link href="../blog/index.jsx"
                <img class="thuvien-icon" src="image/thư viện tài liệu.svg" alt="">
            </div>
    
            <div class="harmonycogi-minigame">
                <div class="minigame-padding"></div>
                <b class="minigame">Minigame</b>
                <img class="minigame-icon" src="image/glitzy-retro-games-stickers-collection_52683-73517_preview_rev_1 3.svg" alt="">
            </div>
    
            <div class="harmonycogi-whatsnext">
                <div class="whatsnext-padding"></div>
                <b class="whatsnext">What's 
                    <br>next???
                </b>
                <p class="haygopy">Hãy góp ý cho chúng tôi</p>
                <img class="harmonycogi-arrow10" src="image/Arrow 10.svg" alt="">
                <img class="harmonycogi-question-icon" src="image/🦆 icon _Question_.svg" alt="">
            </div>
    
        </div>

        <!--footer-->

        <img class="footer-rectangle371" src="image/Rectangle 371.svg" alt="" weight="1080px">

        <img class="footer-group548" src="image/Group 548.svg" alt="">

        <img class="footer-group416" src="image/Group 416.svg" alt="">

        <div class="footer-harmony-info">
            <div class="footer-about">About</div>
            <div class="footer-thuvien">Thư viện</div>
            <div class="footer-diendan">Diễn đàn</div>
            <div class="footer-bacsiAI">Bác sĩ AI</div>
            <div class="footer-minigame">Minigame</div>
        </div>

        <img class="footer-harmonylogo" src="image/harmony-logo 1.svg" alt="">

        <div class="footer-icon">

            <img class="footer-facebook" src="image/🦆 icon _Facebook Square_.svg" alt="">

            <img class="footer-instagram" src="image/🦆 icon _Instagram_.svg" alt="">
    
            <img class="footer-envelope" src="image/🦆 icon _Envelope_.svg" alt="">
    
            <img class="footer-twitter" src="image/🦆 icon _Twitter Square_.svg" alt="">
    
            <img class="footer-discord" src="image/🦆 icon _Discord_.svg" alt="">
        </div>

        <div class="footer-copyright">
            <img class="copyright-icon" src="image/🦆 icon _Copyright_.svg" alt="">
            <div class="copyright">
                Harmony. All rights reserved
            </div>
        </div>

        <b class="footer-stayintouch">Stay in touch</b>

        <!--navbar-->

        <link href="../NavBar.jsx."

            <button class="navbar-đăng-nhập">Đăng nhập</button>
        </div>
    
    </div>

    <script src="script.js"></script>

   <script>
    ScrollReveal({ 
        reset: true,
        distance: '60px',
        duration: 2000,
    });

    ScrollReveal().reveal('.landing-page-group367', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-group400', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-group401', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-group366', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-group365', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-group403', { delay:1000, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group399', { delay:1000, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group402', { delay:1000, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group364', { delay:1000, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group550', { delay:1000, origin: 'right' });

    ScrollReveal().reveal('.landing-page-vector115', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.landing-page-vector114', { delay:500, origin: 'left' });
    ScrollReveal().reveal('.landing-page-vector118', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-vector111', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-vector119', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.landing-page-vector113', { delay:500, origin: 'right' });
    ScrollReveal().reveal('.landing-page-vector112', { delay:1000, origin: 'right' });
    ScrollReveal().reveal('.landing-page-vector116', { delay:0, origin: 'bottom' });
    ScrollReveal().reveal('.landing-page-vector117', { delay:500, origin: 'bottom' });
    ScrollReveal().reveal('.landing-page-BlurVector1', { delay:500, origin: 'bottom' });
    ScrollReveal().reveal('.landing-page-ellipse73', { delay:500, origin: 'top' });
    ScrollReveal().reveal('.landing-page-quote', { delay:500, origin: 'top' });
    ScrollReveal().reveal('.landing-page-quote-author', { delay:500, origin: 'top' });

    ScrollReveal().reveal('.landing-page-group382', { delay:1000, origin: 'top' });
    ScrollReveal().reveal('.landing-page-group383', { delay:1000, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group384', { delay:1000, origin: 'bottom' });
    ScrollReveal().reveal('.landing-page-group379', { delay:1000, origin: 'bottom' });
    ScrollReveal().reveal('.landing-page-group380', { delay:1000, origin: 'left' });
    ScrollReveal().reveal('.landing-page-group381', { delay:1000, origin: 'top' });

    ScrollReveal().reveal('.suckhoetamthan', { delay:0, origin: 'top' });
    ScrollReveal().reveal('.tamquantrong', { delay:500, origin: 'top' });
    ScrollReveal().reveal('.landing-page-vector', { delay:0, origin: 'bottom' });
    ScrollReveal().reveal('.landing-page-vector125', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.landing-page-vector126', { delay:500, origin: 'left' });
    ScrollReveal().reveal('.landing-page-vector124', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group398', { delay:500, origin: 'right' });
    ScrollReveal().reveal('.landing-page-group365-1', { delay:1000, origin: 'right' });

    ScrollReveal().reveal('.line1', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.line2', { delay:0, origin: 'bottom' });
    ScrollReveal().reveal('.line3', { delay:0, origin: 'top' });
    ScrollReveal().reveal('.line4', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.line5', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.line6', { delay:0, origin: 'bottom' });

    ScrollReveal().reveal('.tamquantrong1-border', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.tamquantrong1-padding', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.tamquantrong1-content', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.tamquantrong-loiich', { delay:0, origin: 'left' });


    ScrollReveal().reveal('.tamquantrong2-border', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.tamquantrong2-padding', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.tamquantrong2-content', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.tamquantrong-baitap', { delay:0, origin: 'right' });

    ScrollReveal().reveal('.tamquantrong3-border', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.tamquantrong3-padding', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.tamquantrong3-content', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.tamquantrong-tomlai', { delay:0, origin: 'left' });

    ScrollReveal().reveal('.harmonycogi-text', { delay:0, origin: 'left' });
    ScrollReveal().reveal('.harmonycogi-p', { delay:0, origin: 'right' });
    ScrollReveal().reveal('.harmonycogi-blurvector', { delay:0, origin: 'bottom' });
    ScrollReveal().reveal('.harmonycogi-vector120', { delay:500, origin: 'bottom' });
    ScrollReveal().reveal('.harmonycogi-vector121', { delay:1000, origin: 'bottom' });
    ScrollReveal().reveal('.harmonycogi-vector122', { delay:1500, origin: 'bottom' });
    ScrollReveal().reveal('.harmonycogi-group408', { delay:2000, origin: 'left' });
    ScrollReveal().reveal('.harmonycogi-group410', { delay:2500, origin: 'left' });
    ScrollReveal().reveal('.harmonycogi-group409', { delay:2000, origin: 'right' });
    ScrollReveal().reveal('.harmonycogi-group411', { delay:2500, origin: 'right' });
    ScrollReveal().reveal('.harmonycogi-vector123', { delay:0, origin: 'top' });


   </script>
</body>
</html>